{% extends '../main.twig' %}

{% set page = 'form' %}

{% block title %}
	Форма
{% endblock %}

{% block main %}

	<h1 class="visually-hidden">
		Магазин функционального питания для котов и кошек «Кэт энерджи».
	</h1>
	<section class="main-form">
		<div class="form-wrapper centerer">
			<form class="form" action="https://echo.htmlacademy.ru/" method="post" id="form">
				<h2 class="form__title">
					Подбор программы
				</h2>
				<p class="form__description">
					Заполните анкету, и мы подберем программу питания для вашего кота
				</p>
				<p class="form__name">
					<label class="field-desc" for="form-name">
						Имя:*
					</label>
					<input class="field" type="text" id="form-name" name="form-name" placeholder="Барсик" required>
				</p>
				<p class="form__weight">
					<label class="field-desc" for="form-weight">
						Вес (кг):*
					</label>
					<input class="field" type="number" id="form-weight" name="form-weight" placeholder="7" required>
				</p>
				<p class="form__age">
					<label class="field-desc" for="form-age">
						Возраст (лет):
					</label>
					<input class="field" type="number" id="form-age" name="form-age" placeholder="7">
				</p>
				<fieldset class="form__food-plan-filedset food-plan-filedset">
					<span class="visually-hidden">
						Выберите интересующую Вас программу питания
					</span>
					<ul class="food-plan-filedset__filter-list">
						<li class="food-plan-filedset__filter-item">
							<label class="control">
								<input class="visually-hidden control__input" type="radio" name="food-plan" value="weight-loss" checked>
								<span class="control__mark"></span>
								<span class="control__label">
									Похудение
								</span>
							</label>
						</li>
						<li class="food-plan-filedset__filter-item">
							<label class="control">
								<input class="visually-hidden control__input" type="radio" name="food-plan" value="weight-gain">
								<span class="control__mark"></span>
								<span class="control__label">
									Набор массы
								</span>
							</label>
						</li>
						<li class="food-plan-filedset__filter-item">
							<label class="control">
								<input class="visually-hidden control__input" type="radio" name="food-plan" value="advice">
								<span class="control__mark"></span>
								<span class="control__label">
									Не знаю (Нужен ваш совет)
								</span>
							</label>
						</li>
					</ul>
				</fieldset>
				<fieldset class="form__contacts-fieldset contacts-fieldset">
					<legend class="contacts-fieldset__filter-title filter-title">
						Контактные данные (владельца кота):
					</legend>
					<p class="contacts-fieldset__email">
						<label class="field-desc" for="contacts-email">
							E-mail:*
						</label>
						<input class="field" type="email" id="contacts-email" name="contacts-email" placeholder="kuklachev@gmail.com" required>
					</p>
					<p class="contacts-fieldset__phone">
						<label class="field-desc" for="contacts-phone">
							Телефон:*
						</label>
						<input class="field" type="tel" id="contacts-phone" name="contacts-phone" placeholder="8 (960) 900-60-90" required>
					</p>
				</fieldset>
				<fieldset class="form__comments-fieldset comments-fieldset">
					<legend class="comments-fieldset__filter-title filter-title">
						Комментарий
					</legend>
					<textarea class="comments-fieldset__textarea" name="comments-textarea" placeholder="Расскажите обо всех повaдках кота"></textarea>
				</fieldset>
				<fieldset class="form__additional-fieldset additional-fieldset">
					<legend class="additional-fieldset__filter-title filter-title">
						Дополнительно
					</legend>
					<ul class="additional-fieldset__filter-list">
						<li class="additional-fieldset__filter-item">
							<label class="control">
								<input class="visually-hidden control-input" type="checkbox" name="filler" value="choco" checked>
								<span class="control-mark"></span>
								<span class="control-label">сахарозаменитель</span>
							</label>
						</li>
						<li class="additional-fieldset__filter-item">
							<label class="control">
								<input class="visually-hidden control-input" type="checkbox" name="filler" value="sugar_topping">
								<span class="control-mark"></span>
								<span class="control-label">питьевая вода</span>
							</label>
						</li>
						<li class="additional-fieldset__filter-item">
							<label class="control">
								<input class="visually-hidden control-input" type="checkbox" name="filler" value="fruits">
								<span class="control-mark"></span>
								<span class="control-label">молоко</span>
							</label>
						</li>
						<li class="additional-fieldset__filter-item">
							<label class="control">
								<input class="visually-hidden control-input" type="checkbox" name="filler" value="syrup">
								<span class="control-mark"></span>
								<span class="control-label">витамины</span>
							</label>
						</li>
					</ul>
				</fieldset>
				<button class="form__button button button--primary" type="submit" form="form">
					Подобрать программу
				</button>
				<p class="form__note">
					* — Обязательные поля
				</p>
			</form>
		</div>
	</section>
{% endblock %}
