<section class="promo">
	<div class="centerer">
		<h2 class="promo__title title">
			Функциональное питание для котов
		</h2>
		<p class="promo__slogan">
			Занялся собой? Займись котом!
		</p>
		<img class="promo__image" src="img/content/index-promo-can-mobile.png" width="280" height="270" alt="Упаковка корма «Кэт энерджи» со вкусом курицы.">
		<button class="promo__button button button--primary" type="button">
			Подобрать программу
		</button>
	</div>
</section>
